ACTION=="add", ENV{ID_VENDOR_ID}=="1050", ENV{ID_MODEL_ID}=="0402", RUN+="/usr/local/bin/trigger add"

ACTION=="remove", ENV{HID_NAME}=="Yubico YubiKey FIDO", RUN+="/usr/local/bin/trigger remove"
